@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* Box Model */
  margin: 0;
  padding: 0;
  min-height: 100vh;

  /* Layout e Posicionamento */
  display: flex;
  flex-direction: column;

  /* Fundo e Estética */
  background: url('https://cdn.pixabay.com/photo/2016/08/24/17/31/skeletons-1617539_1280.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

main {
  flex: 1;
  width: 100%;
  padding: 20px;
  /* Removido o background: whitesmoke */
  background: transparent; /* Fundo transparente */
}